/* BOTÃO escondido no desktop */
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 748px) {

  header {
    flex-direction: column; /* importante pra descer o menu */
    align-items: stretch;
    padding: 10px;
    width: 100%;
  }

  .menu-btn {
    display: block;
    margin-left: auto;
  }

  .portifolio {
  display: flex;
  align-items: center;
  gap: 10px;
}

  /* esconde menu */
  nav {
    display: none;
    width: 100%;
  }

  /* quando clicar */
  nav.ativo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column; /* itens um embaixo do outro */
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    width: 100%;
  }

  nav li {
    text-align: center;
  }

  .item {
    display: block;
    padding: 8px 10px;
    font-size: 14px;
  }

  #sobre,
  #objetivo,
  #habilidades,
  #formacao,
  #experiencia,
  #projetos,
  #contato {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
  }

  #sobre img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  th,
  td {
    padding: 6px;
    word-break: break-word;
  }
}

/* TELAS MUITO PEQUENAS */
@media (max-width:480px) {

  #inicio h1 {
    font-size: 30px;
  }

  #inicio p {
    font-size: 22px;
  }

  .links-rapidos a {
    padding: 8px 20px;
  }
}

/* TABELA COM SCROLL */
.tabela-container {
  width: 100%;
  overflow-x: auto;
}

table {
  margin-top: 35px;
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}